/* General Styling */
body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}


/* Navigation */
nav {
  background-color: #444;
  display: flex;
  align-items: center;
}

.nav-logo{
  color: #fff;
  background-color:#333;
  border-radius: 15px;
  font-size: 2.4rem;
  margin: 20px 20px 20px 50px;
  padding: 10px;
  font-weight: bold;
}

nav a{
  color: #fff;
  text-decoration: none;
  margin: 10px 20px;
  padding: 20px;
  font-size: 1.2rem;
  font-weight: bold;
}
nav a:hover{
  color: #ccc;
}

/* Hero Section */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #333;
  padding: 80px 20px;
}

.hero h2 {
  font-weight: 900;
  font-size: 3rem;
  margin-bottom: 20px;
}

.hero-text {
  width: 50%;
  padding: 125px;
  font-size: 1.3rem;
}

.hero-image {
  width: 50%;
  height: 550px;
  background-color: #f5f5f5;
  background-size: cover;
  background-position: center;
  padding-left: 100px;
}

.button {
  display: inline-block;
  background-color: #333;
  color: #fff;
  padding: 15px 30px; /* Increase padding for larger button */
  text-decoration: none;
  font-size: 1.3rem; /* Adjust font size */
  border-radius: 5px;
  margin-top: 30px; /* Move the button a bit lower */
}

.button:hover {
  background-color: #555; /* Darken button color on hover */
}
/* Section Styling */
.section {
  padding: 80px 20px;
}

.section h2 {
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 30px;
}

.section-text {
  text-align: center;
  font-size: 1.3rem;
}

/* About Us Section */
#about {
  background-color: #444; /* Same color as the navigation */
  color: #fff; /* Text color */
  padding: 80px 20px; /* Padding for top and bottom */
}

/* Our Services Section */
#services {
  padding: 30px 20px; /* Padding for top and bottom */
  text-align: center; /* Center-align content */
}

.service {
  display: inline-block; /* Display items inline */
  margin: 0 20px; /* Add space between service items */
  vertical-align: top; /* Align items at the top */
  cursor: pointer; /* Change cursor to pointer */
}

.service img {
  width: 250px; /* Set a fixed width for images */
  height: auto; /* Maintain aspect ratio */
  display: block; /* Ensure proper alignment */
  margin: 0 auto 10px; /* Add space below image and center horizontally */
}

.service h3 {
  font-size: 2rem; /* Adjust heading size */
  margin-top: 10px; /* Add space above heading */
  font-weight: 900;
}

.service p {
  font-size: 1.3rem; /* Adjust paragraph size */
  margin-top: 5px; /* Add space above paragraph */
}

.service:hover {
  opacity: 0.8; /* Reduce opacity on hover for visual feedback */
}

/* Location Section */
#location {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f5f5f5;
  color: #333;
  padding: 80px 20px; /* Padding for top and bottom */
  text-align: center;
}

.location-text {
  width: 50%;
  padding: 20px;
  text-align: center;
  font-size: 1.3rem;
}

.location-text h2 {
  font-size: 3rem;
  margin-bottom: 20px;
  font-weight: 900;
}

.location-map {
  width: calc(50% - 20px); /* Adjusted width with margin */
  height: auto;
  padding: 20px; /* Add padding to the map container */
  box-sizing: border-box; /* Include padding in width calculation */
}


/* Contact Us Section */
#contact {
  background-color: #444;
  color: #ccc;
  padding: 80px 20px;
  text-align: center;
}

#contact form {
  max-width: 500px; /* Adjusted maximum width for the form */
  margin: 0 auto;
}

.form-group {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
}

form input[type="text"],
form input[type="email"],
form textarea {
  width: 100%; /* Make form inputs fill the container width */
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 1.3rem; /* Reduced font size for inputs */
}

form label {
  display: inline-block;
  margin-bottom: 2px; /* Increased space below labels */
}

form input[type="submit"] {
  background-color: #333;
  color: #ccc;
  border: none;
  padding: 15px 30px;
  cursor: pointer;
  font-size: 1.6rem;
  border-radius: 5px;
}

form input[type="submit"]:hover {
  background-color: #555;
}


/* Footer */
footer {
  background-color: #333;
  color: #ccc;
  text-align: center;
  padding: 20px 0;
}

footer p {
  margin: 0;
}
